{
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "brace-style": [
      2,
      "stroustrup",
      {
        "allowSingleLine": false
      }
    ],
    "comma-dangle": "off",
    "no-return-assign": "off"
  },
  "plugins": [
    "import"
  ]
}