{
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "brace-style": [
      2,
      "stroustrup",
      {
        "allowSingleLine": false
      }
    ],
    "comma-dangle": "off",
    "no-return-assign": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": "off"
  },
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "plugins": [
    "import",
    "jest"
  ]
}